@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "Summary0";
}
<h3 style="color:maroon">Details of the Visitors</h3>
<div>
    <p>Number of guest(s) : <font color="red">@ViewBag.NumberofGuests</font></p>
    <p>Number of family guest(s) : <font color="red">@ViewBag.NumberOfFamilyGuests</font></p>
    <p>The age of youngest guest : <font color="red">@ViewBag.Youngest</font></p>
    <p>The age of oldest guest : <font color="red">@ViewBag.Oldest</font></p>
</div>
    